
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOKEPON!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="" href="{% static 'core/style/main.css' %}">
  </head>
  <body>
    <header>
      <h1>MOKEPON! 🌱🔥🌊</h1>
    </header>
    <main>
    <section id="select-pet" class="pet-selection">
      <div>
        <h2>Elige a tu mascota</h2>
          <div id="mokepon-div">
          </div>
      </div> 
      <div id="btn-select-div">
          <button id="select-pet-button" type="button">Seleccionar</button>
      </div>
    </section>
      <section id="explore-map" style="display: none;">
        <h2>Recorre el mapa</h2>
        <canvas id="map" ></canvas>
        <button type="button" onclick="moveMokepon()">Up</button>
        <button type="button" onclick="moveMokepon()">Left</button>
        <button type="button" onclick="moveMokepon()">Down</button>
        <button type="button" onclick="moveMokepon()">Right</button>
      </section>
      <section id="select-attack" style="display: none;">
        <h2>Elige tu ataque</h2>
        <p id="log-player">Tu <span id="actual-pet">mascota</span> tiene <span id="actual-pet-hp"></span> vidas</p>
        <p id="log-enemy">El <span id="enemy-pet"></span> enemigo tiene <span id="enemy-pet-hp"></span> vidas</p>
        <form method="post" id="form-f">
          <fieldset>
            <div id="attacks"> 
            </div>
          </fieldset>
        </form>       
        <section id="log">
          <div id="history">
            <!-- TODO: Buton that shows the message - log-->
            <button class="logBtn" type="button">History</button>
            <p id="message-log" style="white-space: pre-wrap;"></p>
          </div>
          <div id="messages">
            <p id="player-mssg"></p>
            <p id="enemy-mssg"></p>
            <p id="final-mssg"></p>
          </div>
        </section>
      </section>
      <section id="restart" style="display: none;">
        <button id="restart-button" type="button">Reiniciar</button>
      </section>
    </main>
    <footer>
      <p>@Copyright - 2022</p>
    </footer>
    <script>
        var capiPic = "{% static 'core/images/capipepo.png' %}"
        var hipoPic = "{% static 'core/images/hipodoge.png' %}"
        var ratiPic = "{% static 'core/images/ratigueya.png' %}"
    </script>
    </script>
    <script type="text/javascript" src="{% static 'core/script/mokepon.js' %}"></script>
  </body>
</html>
